@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,500;1,600&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  overflow-y: hidden;
}

.App{
  width:100vw;
  height: 100vh;
}
.container{
  display:flex;
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
}
.cs-main-container{
  
  display: none;
}
.cs-main-container .cs-chat-container{
  padding: 20px 20px 0px 20px;
}

section{
  margin: 0;
}
.cs-chat-container .cs-message-input{
  width: 100%;
}
.cs-message-input::placeholder{
  font-family: "Poppins";
}

.cs-message-input__content-editor{
  font-family: "Poppins";
}
.cs-chat-container{
  padding: 20px;
}
.info{
  background-color:#a2d5ff;
  padding: 30px 0px 0px 0px;
  width: 25%;
  height: 100vh;
  display: block;
  margin: auto;
  border-right: 1px solid #2d8fe07b;
}

.info_logo{
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-image: url(src/20230624154047__fpdl.in__robot-icon-circle-vector-illustration_418020-199_normal-removebg-preview.png);
  background-size: cover;
  background-position: center center;
  border: 2px solid #2d8fe07b;
  display: flex;
  margin: auto;
  background-color: #2d8fe07b;
}

.info h1{
  font-family: "Poppins";
  text-align: center;
  font-weight:300;
  color: #202020;
    margin: 10px 0px;
    border-bottom: 1px solid #2d8fe07b;

}

.info_documentation{
  padding: 10px 10px;
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: column;
}
.info_documentation i{
  margin: 10px 5px;
  font-size: 30px;
  text-align:center;
  color: #2d8fe0;
}
.info_documentation a{
  text-decoration:none;
  font-size:20px;
  color: black;
  cursor: pointer;
  text-align:center;
  transition: 300ms ease;
}
a:hover{
  background-color: #2d8fe026;
  transition: 300ms ease;
}

.cs-message-input__tools:first-child{display:none;}
@media screen and (max-width:900px){
  .info_documentation a{
    text-decoration:none;
    font-size:20px;
    cursor: pointer;
    text-align:center;
  }
  .info_documentation{
    padding: 10px 10px;
  }
  .info h1{
    font-family: "Poppins";
    text-align: center;
    font-weight:300;
    font-size: 24px;
    margin: 10px 0px;
  }
  .info_logo{
    width: 120px;
    height: 120px;

  }
}
@media screen and (max-width:850px){
  .info_documentation a{
    text-decoration:none;
    font-size:18px;
    cursor: pointer;
    text-align:center;
  }
  .info_documentation{
    padding: 5px 5px;
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: column;
  }
  .info h1{
    font-family: "Poppins";
    text-align: center;
    font-weight:300;
    font-size: 16px;
    margin: 10px 0px;
  }
  .info_logo{
    width: 100px;
    height: 100px;

  }
  .info_documentation i{
    margin: 10px 5px;
    font-size: 24px;

  }
  .cs-message__html-content{
    font-size: 13px;
  }
  .info_logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    border: 2px solid #2d8fe07b;
    display: flex;
    margin: auto;
  }
  .info{
    padding: 30px 0px;
  }
}

@media screen and (max-width:550px) {
  .info_documentation i{
    margin: 10px 5px;
    font-size: 20px;

  }
  .info_documentation a{
    text-decoration:none;
    font-size:15px;
    cursor: pointer;
    text-align:center;
  }
  .info_logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    border: 2px solid #2d8fe07b;
    display: flex;
    margin: auto;
  }
  
  .cs-message__html-content{
    font-size: 12px;
  }

}
@media screen and (max-width:460px) {
  .info h1{
    font-family: "Poppins";
    text-align: center;
    font-weight:300;
    font-size: 15px;
    margin: 10px 0px;
  }
  .info_logo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    border: 2px solid #2d8fe07b;
    display: flex;
    margin: auto;
  }
  .cs-message__html-content{
    font-size: 10px;
  }

}
@media screen and (max-width:375px) {
  .info h1{
    display:none;
  }
  .info_logo{
    display: none;
  }
  .cs-message-input__tools:first-child{
    display:none;
  }
  .info{
    width: 25%;
    padding: 10px 0px 0px 0px;

  }
  .cs-message__html-content{
    font-size: 9px;
  }
}
